* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* -----Share styles start ----- */
.font_inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.logo img {
    max-width: 139px;
}

.btn {
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    padding: 12px 16px;
    border: 1px solid transparent;
    background-color: #469165;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.btn:hover {
    background-color: transparent;
    color: #000000;
    border: 1px solid black;
}
/* -----Share styles end ----- */

/* -----main styles ----- */
/* -----Header start ----- */
header {
    background-color: #ffffff;
    padding: 16px 0;
}

nav {
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .menu {
    display: flex;
    list-style-type: none;
    gap: 32px;
}

nav .menu a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
}
/* -----Header end ----- */
/* -----Banner start----- */
#banner {
    padding: 155px 0;
    background: url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#banner .banner_container {
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    text-align: center;
}

.banner_container .access_btn {
    font-size: 16;
    font-weight: 500;
    color: #469165;
    padding: 8px 12px;
    border-radius: 100px;
    background-color: #ffffff;
    border: none;
    cursor: pointer;
    margin-bottom: 16px;

}

.banner_container .banner_content {
    padding: 0 295px;
    text-align: center;
}

.banner_container .banner_content h1 {
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    color: #ffffff;
    margin-bottom: 16px;
}

.banner_content h1 .color_green {
    color: #30B868;
    text-transform: capitalize;
}

.banner_container .banner_content p {
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    margin-bottom: 32px;
}

.banner_container .banner_content_btn {
    display: flex;
    gap: 16px;
    justify-content: center;
}
/* -----Banner end----- */
/* -----Apps start----- */
#apps {
    padding-top: 50px;
}

#apps .apps_container {
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
}

#apps .apps_container .apps_heading {
    text-align: center;
}

.apps_container .apps_heading h2 {
    font-size: 48px;
    font-weight: 700;
    color: #001931;
    margin-bottom: 16px;
}

.apps_container .apps_heading p {
    font-size: 16px;
    color: #627382;
    line-height: 20px;
    margin-bottom: 44px;
}

.apps_container .apps_box {
    display: flex;
    gap: 24px;
}

.apps_box .apps_card {
    border-radius: 8px;
    max-width: 322px;
    padding: 70px 24px 48px;
    text-align: center;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.06);
    background: rgba(255, 255, 255, 1);
}

.apps_card img {
    max-width: 60px;
    background-color: #F95555;
    padding: 14px;
    border-radius: 50px;
    margin-bottom: 16px;
}

.apps_card h3 {
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    margin-bottom: 16px;
}

.apps_card p {
    font-size: 16px;
    color: #627382;
    line-height: 20px;
    margin-bottom: 20px;
}
/* -----Apps end----- */
/* -----Brain start----- */
#brain {
    padding: 120px 0;
}

#brain .brain_container {
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.brain_container .brain_image img {
    max-width: 600px;
    border-radius: 12px;
}

.brain_container .brain_content {
    max-width: 700px;
    padding-right: 180px;
}

.brain_container .brain_content h4 {
    font-size: 16;
    font-weight: 500;
    line-height: 20px;
    color: #469165;
    margin-bottom: 16px;
}

.brain_container .brain_content h2 {
    font-size: 48px;
    font-weight: 700;
    color: #001931;
    margin-bottom: 16px;
}

.brain_container .brain_content p {
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 40px;
}

.brain_content .brain_content_headline {
    display: flex;
    align-items: center;
    gap: 6px;
}

.brain_content .brain_content_headline img {
    width: 20px;
    height: 20px;
} 

.brain_content .brain_content_headline p {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #001931;
    margin-bottom: 16px;
}
/* -----Brain end----- */
/* -----access start----- */
#access {
    padding: 2px 0 120px;
}

#access .access_container {
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    text-align: center;
    background-color: #F7F6F2;
}

.access_container .access_content {
    max-width: 1280px;
    padding: 80px 334px;
}

.access_container .access_content h2 {
    font-size: 40px;
    font-weight: 700;
    color: #001931;
    margin-bottom: 16px;
}

.access_container .access_content .access_para1 {
    font-size: 16px;
    color: #627382;
    line-height: 24px;
    margin-bottom: 24px;
}

.access_container .access_content .access_para2 {
    font-size: 16px;
    color: #627382;
    line-height: 20px; 
    margin-top: 16px;
}
/* -----access end----- */
/* -----footer start----- */
footer {
    background-color: #001931;
}

footer .footer_container {
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    padding-top: 120px;
}

.footer_container .footer_social {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_social .social_link p {
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    color: #ffffff;
    margin-bottom: 16px;
}

.social_link .icons a {
    background-color: #ffffff;
    color: #000000;
    padding: 2px;
    margin-right: 8px;
    border-radius: 50%;
}

.footer_container hr {
    margin: 80px 0 30px;
    opacity: 0.1;
}

.footer_container .footer_copyright {
    padding-bottom: 30px;
    text-align: center;
}
.footer_container .footer_copyright p {
    font-size: 16px;
    line-height: 24px;
    color: #FAFAFA;
}

.footer_container .footer_copyright a {
    font-size: 16px;
    line-height: 24px;
    color: #FAFAFA;
    text-decoration: none;
}
/* -----footer end----- */